@charset "UTF-8";
/*
#########################################################
PEDRO OLIVEN├çA 2015  
OOCSS via Sass
#########################################################
*/
/* CONFIG */
/* for btn- and txt- sizes attributes */
/* main attributes */
/* button color types */
/* color, bkcolor, bordercolor, hovercolor  */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

html,
body,
span,
p {
  font-family: "Open-sans", Verdana, Helvetica, Sans-Serif; }

html,
body {
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a; }

span,
p {
  font-size: inherit; }

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

html {
  overflow-y: scroll; }

div {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

ol {
  margin-left: 22px; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #18c0cf;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #1396a1; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

select, input, textarea {
  outline: none; }

a:hover, a:active {
  outline: none; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif; }

input[type=button],
input[type=submit],
button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button {
  width: auto;
  overflow: visible; }

::-moz-selection {
  background: #69a3b2;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #69a3b2;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #0c8bcd; }

ins {
  background-color: #69a3b2;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #69a3b2;
  color: #000;
  font-style: italic;
  font-weight: bold; }

button:focus {
  outline: none; }

*:focus {
  outline: none; }

* {
  box-sizing: border-box; }

th {
  text-align: left; }

/* FONTS */
@font-face {
  font-family: 'fonticons';
  src: url("Fonts/fonticons.eot?rhalyk");
  src: url("Fonts/fonticons.eot?rhalyk#iefix") format("embedded-opentype"), url("Fonts/fonticons.ttf?rhalyk") format("truetype"), url("Fonts/fonticons.woff?rhalyk") format("woff"), url("Fonts/fonticons.svg?rhalyk#fonticons") format("svg");
  font-weight: normal;
  font-style: normal; }
i {
  font-family: 'fonticons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-down:before {
  content: "\e800"; }

/* VENDOR STYLES */
/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment {
  color: #969896; }

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #cc6666; }

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #de935f; }

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #f0c674; }

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-name,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #b5bd68; }

/* Tomorrow Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #8abeb7; }

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #81a2be; }

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #b294bb; }

.hljs {
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em;
  -webkit-text-size-adjust: none; }

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5; }

/* ELEMENTS */
.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block; }

.float-lft {
  float: left; }

.float-rgt {
  float: right; }

.hide {
  display: none; }

.show {
  display: block; }

/*
#########################################################
TXT- classes As $ELEMENT-SIZES MAP
#########################################################
*/
.txt-xsmall {
  font-size: 11px;
  line-height: 15px;
  padding: 0; }

.txt-small {
  font-size: 14px;
  line-height: 20px;
  padding: 0; }

.txt-large {
  font-size: 22px;
  line-height: 31px;
  padding: 0; }

.txt-xlarge {
  font-size: 30px;
  line-height: 42px;
  padding: 0; }

.txt-impact {
  color: #18c0cf; }

.txt-primary {
  color: #FBB040; }

.txt-secondary {
  color: #017404; }

.txt-alert {
  color: #ddbe34; }

.txt-warning {
  color: #d92525; }

.txt-success {
  color: #4ab425; }

.txt-info {
  color: #0fb0ba; }

/*
#########################################################
QUICK MOBILE BEHAVIOR
#########################################################
*/
.mobile-blk-on,
.mobile-on {
  display: none; }

/*
#########################################################
COMMON
#########################################################
*/
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  display: block;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  font-weight: 300; }

h1,
.h1 {
  font-size: 42px;
  line-height: 59px;
  padding: 0; }

h2,
.h2 {
  font-size: 32px;
  line-height: 45px;
  padding: 0; }

h3,
.h3 {
  font-size: 28px;
  line-height: 39px;
  padding: 0; }

h4,
.h4 {
  font-size: 24px;
  line-height: 34px;
  padding: 0; }

h5,
.h5 {
  font-size: 20px;
  line-height: 28px;
  padding: 0; }

main {
  position: relative;
  z-index: 5; }

header {
  position: relative;
  z-index: 6; }

[class^="col-"],
[class*="col-"] {
  border: 0px;
  float: left;
  margin: 0px;
  padding: 0;
  position: relative;
  box-sizing: border-box; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333333%; }

.col-5 {
  width: 41.66666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333333%; }

.col-8 {
  width: 66.66666667%; }

.col-9 {
  width: 75%; }

.col-12 {
  width: 100%; }

.grid-wrpp:after, .grid-wrpp:before {
  display: table;
  content: " ";
  clear: both; }
.grid-wrpp.add-space {
  margin-left: -30px; }
  .grid-wrpp.add-space [class*="col-"] {
    padding-left: 30px; }

.col-center {
  text-align: center; }

.col-invert {
  float: right;
  text-align: right; }

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
  position: relative; }

/*
######################################################
FORMS
######################################################
*/
/* do not group these rules */
*::-webkit-input-placeholder {
  color: #020202; }

*:-moz-placeholder {
  color: #020202; }

*:-ms-input-placeholder {
  /* IE10+ */
  color: #020202; }

.form-block {
  margin: 20px 0 0;
  position: relative; }
  .form-block .placeholder {
    display: none;
    font-weight: 700; }
  .form-block label {
    display: block;
    font-weight: 200;
    margin-bottom: 5px;
    color: #b3b3b3; }
  .form-block input[type="text"], .form-block input[type="password"], .form-block select, .form-block textarea {
    border-color: #333333;
    border-width: 1px;
    border-style: solid;
    font-size: 18px;
    font-weight: 200;
    padding: 10px;
    transition: border-color ease 500ms;
    width: 100%;
    font-family: "Open-sans", Verdana, Helvetica, Sans-Serif;
    background-color: #333333;
    resize: none; }
    .form-block input[type="text"]:focus, .form-block input[type="password"]:focus, .form-block select:focus, .form-block textarea:focus {
      background-color: white;
      border-color: white; }
  .form-block select {
    padding: 9px 10px; }
  .form-block .radio-wrpp input[type="checkbox"], .form-block .radio-wrpp input[type="radio"] {
    display: inline-block;
    cursor: pointer; }
  .form-block .radio-wrpp span.radio-label {
    margin-left: 20px;
    display: block;
    margin-top: -19px;
    font-weight: normal; }
  .form-block .radio-wrpp label {
    cursor: pointer; }

.btn {
  background: #e6e6e6 none;
  border: 3px solid #e6e6e6;
  border-radius: 6px;
  color: #333333;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  transition: background-color ease 200ms;
  -webkit-appearance: none;
  font-size: 16px;
  line-height: 22px;
  padding: 5px 8px; }
  .btn:hover {
    background: transparent none;
    text-decoration: none;
    color: #333333; }

/* add a right padd */
.btn-mrg {
  margin-right: 10px; }

/* create button sizes */
.btn-xsmall {
  font-size: 11px;
  line-height: 15px;
  padding: 2px 3px; }

.btn-small {
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px; }

.btn-large {
  font-size: 22px;
  line-height: 31px;
  padding: 10px 25px; }

.btn-xlarge {
  font-size: 30px;
  line-height: 42px;
  padding: 10px 25px; }

/* create button color types */
.btn-impact {
  background-color: #18c0cf;
  border-color: #18c0cf;
  color: white; }
  .btn-impact:hover {
    background-color: transparent;
    color: #18c0cf; }

.btn-primary {
  background-color: #FBB040;
  border-color: #FBB040;
  color: white; }
  .btn-primary:hover {
    background-color: transparent;
    color: #FBB040; }

.btn-secondary {
  background-color: #017404;
  border-color: #017404;
  color: white; }
  .btn-secondary:hover {
    background-color: transparent;
    color: #017404; }

.btn-invert {
  background-color: white;
  border-color: #e6e6e6;
  color: black; }
  .btn-invert:hover {
    background-color: #e6e6e6;
    color: white; }

/* MODULES */
.Header {
  background-color: #000;
  text-align: center;
  padding: 2% 0;
  color: #fff; }
  .Header .brand {
    max-width: 100%;
    width: 40%;
    margin-top: 10%;
    margin-bottom: 5%; }
  .Header.pos {
    margin-top: 3%;
    color: #fff;
    padding-bottom: 20px; }
  @media screen and (max-width: 750px) {
    .Header h1 {
      font-size: 25px;
      line-height: 35px;
      padding: 0; } }
  @media screen and (max-width: 750px) {
    .Header .btn-large {
      font-size: 18px;
      line-height: 25px;
      padding: 5px 10px;
      margin-bottom: 10px; } }

.Footer {
  color: #fff;
  border-top: 10px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 5% 0; }
  .Footer .brand {
    max-width: 100%;
    width: 40%;
    margin-top: 10%;
    margin-bottom: 5%; }
  .Footer.pos {
    margin-top: 3%;
    color: #fff;
    padding-bottom: 20px; }
  .Footer ul {
    display: table;
    text-align: center;
    margin: 0 auto; }
    .Footer ul li {
      display: inline-block;
      padding: 0 5px; }

.Content {
  padding: 3% 0;
  background-color: #1a1a1a; }

/* RESPONSIVE */
@media screen and (max-width: 1250px) {
  .container {
    padding: 0 15px; }

  .Navigation.dynamic-nav.fixed .Search {
    right: 15px; } }
@media screen and (max-width: 970px) {
  .col-3-md {
    width: 25%; }

  .col-4-md {
    width: 33.33333333%; }

  .col-6-md {
    width: 50%; }

  .col-8-md {
    width: 66.66666667%; }

  .col-9-md {
    width: 75%; }

  .col-12-md {
    width: 100%; }

  .col-none-md {
    display: none; }

  Header .brand {
    width: 50%; }
  Header .Navigation .brand {
    width: auto; } }
@media screen and (max-width: 750px) {
  .col-4-sd {
    width: 33.33333333%; }

  .col-6-sd {
    width: 50%; }

  .col-12-sd {
    width: 100%; }

  .col-none-sd {
    display: none; } }
@media screen and (max-width: 520px) {
  [class^="col-"],
  [class*="col-"] {
    width: 100%; } }

/*# sourceMappingURL=app.css.map */
